<h3 class="col-12 mt-4 border-bottom">みんなのコメント</h3>
  <%= form_with model: [recipe, recipe_comment], local: false do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, class: 'form-control comment-textarea' %>
    </div>
    <!--あとから実装なのでいったん0-->
    <%= f.hidden_field :light_rate, value: 0 %>
    <%= f.hidden_field :heavy_rate, value: 0 %>
    <div class="form-group">
      <%= f.submit %>
    </div>
    
  <% end %>
