<h5>こってり度</h5>

<div id="heavy_rate_<%= recipe.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
    let raty_<%= recipe.id %> = document.querySelector('#rate_<%= recipe.id %>');
    rate_<%= recipe.id %>.innerHTML = ""
    let option_<%= recipe.id %> = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= recipe.heavy_rate %>",
        readOnly: true,
      };
    raty(raty_<%= recipe.id %> ,option_<%= recipe.id %>);
});
</script>