<div class="container">
  <h3 class="col-12 mt-4 mb-4 border-bottom"><%= @recipe.recipe_title %></h3>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.food_image_url, class: 'img-fluid' %>
    </div>
    <div class="col-md-5">
      <div>
        <%= simple_format(@recipe.recipe_description) %>
      </div>
      <div>
        <%= @recipe.recipe_indication %>
      </div>
      <div class="mt-2 mb-2">
        <%= link_to '作り方はこちら', @recipe.recipe_url, target: :_blank, class: "btn btn-success", rel: "noopener noreferrer" %>
      </div>
      <div class="mt-2 mb-2" id="bookmark_button_<%= @recipe.id %>">
        <%= render "public/bookmarks/bookmark", recipe: @recipe %>
      </div>
      
      <div class="mt-3 mb-3">
        <small>＊あっさり度とこってり度を入力して、<br />あなただけのあっさりこってりページを作ろう！</small>
      </div>
      
      <%= form_with model: @review, url: recipe_reviews_path(@recipe), method: :post do |f| %>
        <% if @review.id != nil %>
          <div>
            <%= render "public/reviews/rate", f: f, review: @review, recipe: @recipe %>
          </div>
        <% else %>
          <div>
            <%= render "public/reviews/rate_form", f: f %>
          </div>
        <% end %>
        <% if @review.id == nil %>
          <div class="form-group">
            <%= f.submit "登録", class: 'btn btn-success' %>
          </div>
        <% end %>
      <% end %>
    
    </div>
  </div>
  
  <div id="recipe-comments-form">
    <%= render "public/recipe_comments/form", recipe: @recipe, recipe_comment: @recipe_comment %>
  </div>
  
  <div id="recipe-comments-index">
   <%= render 'public/recipe_comments/index', recipe: @recipe %>
  </div>

</div>

