<div class="container">
  <h2><%= @recipe.recipe_title %></h2>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.food_image_url, class: 'img-fluid' %>
    </div>
    <div class="col-md-5">
      <div>
        <%= simple_format(@recipe.recipe_description) %>
      </div>
      <div>
        <%= @recipe.recipe_indication %>
      </div>
      <div>
        <%= link_to '作り方はこちら', @recipe.recipe_url, target: :_blank, rel: "noopener noreferrer" %>
      </div>
      <div>
        <%= render "light_rate", recipe: @recipe %>
      </div>
      <div>
        <%= render "heavy_rate", recipe: @recipe %>
      </div>
      <div id="bookmark_button_<%= @recipe.id %>">
        <%= render "public/bookmarks/bookmark", recipe: @recipe %>
      </div>
    </div>
  </div>
  
  <div id="recipe-comments-form">
    <%= render "public/recipe_comments/form", recipe: @recipe, recipe_comment: @recipe_comment %>
  </div>
  
  <div id="recipe-comments-index">
   <%= render 'public/recipe_comments/index', recipe: @recipe %>
  </div>
</div>

