<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <%= form_with url: search_path, method: :get do |f| %>
      <%= f.label :keyword, '今日何にしよう？' %>

      <div class="form-group">
        <%= f.text_field :keyword, class: 'form-control', placeholder: 'ポテト' %>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <%= f.submit '検索', class: 'btn btn-outline-secondary btn-block loading' %>
          <div class="loading-mark text-center"  style="display: none;">
            <%= image_tag "89-88.gif", class: "spinner"%><span class="ml-2">しばしお待ちを！</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>