    <h6 class="m-1">あっさり度</h6>
      <div class="light_raty<%= recipe.id %>"></div>
      <script>
        $(function(){
        let raty_elem = document.querySelector('.light_raty<%= recipe.id %>');
        raty_elem.innerHTML = ""
        let option = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'recipe[light_rate]',
            score: <%= review ? review.light_rate : 0 %>,
            readOnly: true,
          };
        raty(raty_elem,option);
       });
 </script>
 
    <h6 class="m-1">こってり度</h6>
      <div class="heavy_raty<%= recipe.id %>"></div>
      <script>
        $(function(){
        let raty_elem = document.querySelector('.heavy_raty<%= recipe.id %>');
        raty_elem.innerHTML = ""
        let option = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'recipe[light_rate]',
             score: <%= review ? review.heavy_rate : 0 %>,
            readOnly: true,
          };
        raty(raty_elem,option);
       });
 </script>