    <h6 class="m-1">あっさり度</h6>
      <div id="light_raty"></div>
      <script>
        $(document).on('turbolinks:load', function() {
        let raty_elem = document.querySelector('#light_raty');
        raty_elem.innerHTML = ""
        let option = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'recipe[light_rate]',
            score: <%= review.light_rate %>,
            readOnly: true,
          };
        raty(raty_elem,option);
       });
 </script>
 
    <h6 class="m-1">こってり度</h6>
      <div id="heavy_raty"></div>
      <script>
        $(document).on('turbolinks:load', function() {
        let raty_elem = document.querySelector('#heavy_raty');
        raty_elem.innerHTML = ""
        let option = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'recipe[light_rate]',
            score: <%= review.heavy_rate %>,
            readOnly: true,
          };
        raty(raty_elem,option);
       });
 </script>