<div class="container">
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <div class="text-center p-4">
        <h2><b>新規会員登録</b></h2>
      </div>
      
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
      
        <div class="field form-group col-12">
          <%= f.label :"名前" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-6" %>
        </div>
        
        <div class="field form-group col-12">
          <%= f.label :"ニックネーム" %><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "col-6" %><br />
          ＊ニックネームはコメントをしたときに公開されるものです。
        </div>
        
        <div class="field form-group col-12">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-12" %>
        </div>
          
        <div class="field form-group col-12">
          <%= f.label :"パスワード(6文字以上)" %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "col-12" %>
        </div>
      
        <div class="field form-group col-12">
          <%= f.label :"パスワード(確認用)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12" %>
        </div>
      
        <div class="actions text-center p-3">
          <%= f.submit "新規登録",class: "btn btn-success col-3" %>
        </div>
      <% end %>
      
      <h3>既に登録済みの方</h3>
      <div class="text-center p-3">
        <h5><b><%= render "public/shared/links" %></b></h5>からログインしてください。
      </div>
    </div>
  </div>
</div>