<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3 mt-3">
      <h3 class="col-12 mt-4 border-bottom">気になる・お気に入りレシピ一覧</h3>
    </div>
    
    <table class="table table-bordered table-hover">
      
      <% if @bookmarks.blank? %>
        <div class="col-md-12 mb-3 mt-3">
          <%= render "public/searches/search-form" %>
        </div>
      <% else %>
        <div class="col-md-12 mb-3 mt-3">
          <%= render "public/bookmarks/search_bookmark-form" %>
        </div>
        
        <p>
          <%= link_to 'あっさり順', bookmarks_path(light_rate: "true"), class: "btn btn-success" %>
          <%= link_to 'こってり順', bookmarks_path(heavy_rate: "true"), class: "btn btn-success" %>
          <%= link_to 'お気に入り全部表示', bookmarks_path, class: "btn btn-success" %>
          <%= link_to 'ごはん検索をする', search_path, class: "btn btn-secondary" %>
        </p>
        
        <% @bookmarks.reverse.each do |bookmark| %>
          <tbody class="col-md-10 mx-auto">
            <tr>
              <td>
                <%= link_to recipe_path(bookmark.recipe) do %>
                  <%= bookmark.recipe.recipe_title.truncate(15) %>
                <% end %>
              </td>
              <td id="bookmark_button_<%= bookmark.recipe.id %>">
                <%= render "public/bookmarks/bookmark", recipe: bookmark.recipe %>
              </td>
              <td>
                <%= simple_format(bookmark.recipe.recipe_description) %>
                <%= render "public/reviews/rate", review: bookmark.recipe.reviews.find_by(user_id: current_user.id),  recipe: bookmark.recipe  %>
              </td>
              <td><%= bookmark.recipe.recipe_indication.truncate(15) %></td>
            </tr>
          </tbody>
        <% end %>
        
      <% end %>
    </table>
  </div>
</div>