<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3 mt-3">
      <h4>気になる・お気に入りレシピ検索結果</h4>
    </div>
    <table class="table table-bordered">

      <div class="col-md-12 mb-3 mt-3">
        <%= render "public/bookmarks/search_bookmark-form" %>
      </div>
      
      <p>
       <%= link_to 'あっさり順', bookmarks_path(light_rate: "true"), class: "btn btn-success" %>
       <%= link_to 'こってり順', bookmarks_path(heavy_rate: "true"), class: "btn btn-success" %>
       <%= link_to 'ごはん検索をする', search_path, class: "btn btn-secondary" %>
      </p>
        
      <% @results.each do |result| %>
        <tbody class="col-md-10 mx-auto">
          <tr>
            <td>
              <%= link_to recipe_path(result) do %>
                <%= result.recipe_title.truncate(15) %>
              <% end %>
            </td>
            <td id="bookmark_button_<%= result.id %>">
              <%= render "public/bookmarks/bookmark", recipe: result %>
            </td>
            <td><%= simple_format(result.recipe_description) %></td>
            <td><%= result.recipe_indication.truncate(15) %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>