<div class="containar">
  <div class="row">
    <div class="col-md-8 mx-auto">
    <h2>My店舗登録 / 一覧</h2><br>
    <%= form_with model: @myshop, method: :post  do |f|%>

      <table class="table table-bordered">
        <tr>
          <td style="width: 20%" >My店舗名</td>
          <td style="width: 20%"><%= f.text_field :shop_name, class: "form-control" %></td>
          <td style="width: 20%"></td>
          <td style="width: 20%"></td>
        </tr>
        <tr>
          <td>ホームページURL</td>
          <td colspan="2"><%= f.text_area :shop_url, class: "form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <td>メモ</td>
          <td colspan="2"><%= f.text_area :shop_memo, class: "form-control" %></td>
          <td></td>
        </tr>
        <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
      </table>
  
    <% end %>

      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th>My店舗名</th>
            <th>ホームページURL</th>
            <th>メモ</th>
          </tr>
          <% @myshops.each do |myshop| %>
          <tr>
            <td><%= myshop.shop_name %></td>
            <td><%= link_to 'ホームページへ', myshop.shop_url, target: :_blank, rel: "noopener noreferrer" %></td>
            <% if myshop.shop_memo.blank? %>
              <td>メモする時は詳細ページへ！</td>
            <% else %>
              <td><%= myshop.shop_memo.truncate(20) %></td>
            <% end %>
            <td>
              <%= link_to "詳細ページ", myshop_path(myshop.id), class: "btn btn-success" %>
            </td>
          </tr>
          <% end %>
        </thead>
      </table>
    </div>
  </div>
</div>
