<div class='container'>
  <div class='row'>
    <div class="col-md-10 mx-auto">
      <h1>My店舗 "<%= @myshop.shop_name %>"情報</h1>
        <%= form_with model: @myshop do |f|%>
　　　　<table class="table table-bordered">
          <thead>
            <tr class="table-secondary">
              <th>My店舗名</th>
              <th>ホームページURL</th>
              <th>メモ</th>
            </tr>
            <tr>
              <td><%= @myshop.shop_name %></td>
              <td><%= link_to 'ホームページへ', @myshop.shop_url, target: :_blank, rel: "noopener noreferrer" %></td>
              <td><%= simple_format(@myshop.shop_memo) %></td>
            </tr>
          </thead>
        </table>
        <% end %>
        <%= link_to "編集", edit_myshop_path(@myshop.id), class: "btn btn-success" %>
        <%= link_to '戻る', myshops_path, class: "btn btn-success" %>
    </div>
  </div>
</div>