<div class="row">
  <div class="col-xs-12 mx-auto">
    <div class="text-center p-4">
      <h2><b><%= @user.nickname %>さんの会員情報編集</b></h2>
    </div>

      <table class="table table-borderless">
        <tr>
          <th>会員ID</th>
          <th><%= @user.id %></th>
        </tr>
        <tr>
          <th>名前</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
      </table>
      
    <%= form_with model: @user, url:admin_user_path, local: true ,method: :patch do |f| %>

      <div class="field form-group col-12">
        <%= f.label :"ニックネーム", class: "col-3 control-label mr-3" %>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "col-3 ml-5" %>
      </div>

      <div class="field form-group col-12">
        <%= f.label :"会員ステータス", class: "col-sm-6 control-label" %>
        <%= f.radio_button :is_deleted, "false" %>
        <%= f.label :"会員有効" %>
        <%= f.radio_button :is_deleted, "true" %>
        <%= f.label :"退会" %>
      </div>

      <div class="actions text-center p-3">
        <%= f.submit "編集内容を保存", class: "btn btn-success col-3 mr-5" %>
      </div>
    <% end %>
    </div>
  </div>
</div>