<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#CCFFCC">
    
    <div class="container-fluid">
      <button class="navbar-toggler  ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="container">
      <h4><span class="font-weight-bold"><i class="fas fa-fish"></i>今日のごはん</span></h4>

        <div class="navbar">

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <!--ゲストユーザーの場合-->
            <% if user_signed_in? && current_user.name == "guestuser" %>
              <li><%= link_to 'サイトについて',root_path,class: 'btn btn-outline-success' %></li>
              <li><%= link_to 'マイページ',users_path,class: 'btn btn-outline-success' %></li>
              <li><%= link_to '今日のランダム', top_path, class: "btn btn-outline-success" %></li>
              <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: 'btn btn-outline-success' %></li>
            <!--会員の場合-->
            <% elsif user_signed_in? %>
              <li><%= link_to 'マイページ',users_path,class: 'btn btn-outline-success' %></li>
              <li><%= link_to 'My店舗一覧', myshops_path, class: "btn btn-outline-success" %></li>
              <li><%= link_to 'お気に入り一覧', bookmarks_path, class: "btn btn-outline-success" %></li>
              <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: 'btn btn-outline-success' %></li>
            <!--管理者の場合-->
            <% elsif admin_signed_in? %>
              <li><%= link_to 'トップページ',admin_top_path, class: 'btn btn-outline-success' %></li>
              <li><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class: 'btn btn-outline-success' %></li>
            <!--ログインしていない状態-->
            <% else %>
              <li><%= link_to 'サイトについて',root_path,class: 'btn btn-outline-success' %></li>
              <li><%= link_to '新規登録',new_user_registration_path,class: 'btn btn-outline-success' %></li>
              <li><%= link_to 'ログイン',new_user_session_path ,class: 'btn btn-outline-success' %></li>
              <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-outline-success", method: :post %></li>
            <% end %>
            </ul>
          </div>
        </div>

    </div>
  </nav>
</header>