<!DOCTYPE html>
<html>
  <head>
    <title>今日のごはん</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/f0039104b0.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <i class="fas fa-check-circle"></i><span class="ml-2"><%= notice %></span>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <i class="fas fa-bullhorn"></i><span class="ml-2"><%= alert %></span>
        </div>
      <% end %>
    </main>
    <%= yield %>
  </body>
</html>
